*.h5 filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
proto_v2/mobile_net_model/frozen_inference_graph.pb filter=lfs diff=lfs merge=lfs -text
proto_v2/mobile_net_model/model.ckpt-30000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
proto_v2/mobile_net_model/model.ckpt-30000.index filter=lfs diff=lfs merge=lfs -text
